.snack-job-container {
  display: flex;
  justify-content: space-between;
  background-color: #737373;
}

.snack-job-img-txt {
  display: flex;
}

.snack-job-text-container {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.snack-job-title {
  font-size: large;
  font-weight: 700;
}

.snack-job-text {
  display: flex;
  gap: 50px;
  font-size: small;
}

img {
  max-height: 60px;
}

p {
  margin: 0;
  padding: 0;
}

.snack-job-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: #1f1f1f;
}

.snack-job-icon:hover {
  cursor: pointer;
}

.icon-star {
  background-image: unset;
  background-color: currentColor;
  mask-size: cover;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke='%23fdfdfd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2'%3E%3C/polygon%3E%3C/svg%3E");
}

.active {
  color: yellow;
}

a, a:hover, a:focus {
  color: white;
}
